<p id="notice"><%= notice %></p>

<h1>Assignments</h1>


<table class="table table-striped">
  <thead>
    <tr>
    
    
      <th>Title</th>
      
      <th>Deadline</th>
      <th>remaining time</th>
      <th>submit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @assignments.each do |assignment| %>




     
  
      <tr> 
    <td> <%= link_to  assignment.title, {:action => 'show', :id =>assignment.id} %> </td>
    <td><%= assignment.deadline %></td> 
<td> <%if assignment.deadline > DateTime.now%>


      <%= deadline = TimeDifference.between(DateTime.now,  assignment.deadline).in_hours%> 
       <% else %>
        0.0
      <% end %>
       </td>
      
        
         
        
        
        
         
        
        
     
         <td><%if assignment.deadline > DateTime.now%> <%= link_to ' submit', new_submit_path(title: "#{assignment["title"]}",asig_id:  "#{assignment["id"]}")  %>
         
         <% else %>
         

         <i class="glyphicon glyphicon-lock text-dark"></i> 
           <% end %>
         
         
         </td>
         
      </tr>
    <% end %>
  </tbody>
</table>

<br>

