<body class="body1">
  <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <center><fieldset style="width:60%;background:#e9ecef;position:relative;top:-40px;"><legend>sign up</legend>


 <div class="form-group row">
    <%= f.label :first_name ,class:'col-2 col-form-label' %><br />
                <div class="col-9" >

    <%= f.text_field :first_name, autofocus: true, autocomplete: "email" ,class:'form-control' %>
  </div>
  </div>
 <div class="form-group row">
    <%= f.label :last_name ,class:'col-2 col-form-label' %><br />
                    <div class="col-9" >

    <%= f.text_field :last_name, autofocus: true, autocomplete: "email" ,class:'form-control' %>
  </div>
  </div>
 <div class="form-group row">
    <%= f.label :middle_name ,class:'col-2 col-form-label' %><br />
                        <div class="col-9" >

    <%= f.text_field :middle_name, autofocus: true, autocomplete: "email" ,class:'form-control' %>
  </div>
</div>
 <div class="form-group row">
    <%= f.label :reg ,class:'col-2 col-form-label' %><br />
                            <div class="col-9" >

    <%= f.number_field :reg, autofocus: true, autocomplete: "email" ,class:'form-control' %>
  </div>
  </div>



 <div class="form-group row">
  <%= f.label :level_id ,class:'col-2 col-form-label'%>
                              <div class="col-9" >

 

  <%= f.select :level_id, Level.pluck(:name, :id) ,class:'form-control' %> 
  
  </div>
</div>



  


 <div class="form-group row">
    <%= f.label :email ,class:'col-2 col-form-label' %><br />

    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control' %>
  </div>
</div>


  

 <div class="form-group row">
    <%= f.label :password ,class:'col-2 col-form-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
                                      <div class="col-9" >

    <%= f.password_field :password, autocomplete: "new-password" ,class:'form-control'  %>
  </div>

 <div class="form-group row">
    <%= f.label :password_confirmation ,class:'col-2 col-form-label' %><br />
    <div class="col-9" >
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control' %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Sign up" ,class:'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</fieldset>
</center>
</body>